################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDMicroservicesSampleApp/obj
/RDMicroservicesSampleApp/bin/Debug/net8.0
